<!DOCTYPE HTML>
<html>
   <head>
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
        <script src="/static/main.js"></script>
      <script type="text/javascript">
	</script>
   </head>
   <body>

      <div id="sse">
         <a href="javascript:WebSocketTest()">Run WebSocket</a>
          <a href="javascript:led_on()"> Send</a>

      </div>
    <div ng-app="myApp">
  <div ng-controller="MainController">
    <button ng-click="SendCommand()">SendCommand</button>
    <md-input-container class="md-block" flex-gt-sm>
            <label>Command</label>
            <input ng-model="command">
          </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
            <label>Data</label>
            <input ng-model="data">
          </md-input-container>
    <div id="farm">
        <div class="grass" ng-repeat="g in grass">
            <img src="https://drive.google.com/uc?export=view&id=0B1mQfOwV0VUHWWhiRmM5bVlIczA" />
        </div>
        <div class="cow" ng-repeat="c in cows">
           <img src="https://drive.google.com/uc?export=view&id=0B1mQfOwV0VUHdTdBdHBibVM0UGM" />
        </div>
        <br style="clear:both"/>
    </div>
  </div>
</div>

   </body>
</html>
